@model MyAcademyCQRS.CQRSPattern.Results.FeatureResults.GetFeatureByIdQueryResult
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-custom">
    <h3 class="admin-title"><i class="fas fa-edit"></i> Özellik Güncelle</h3>
    <form method="post">
        <input type="hidden" asp-for="FeatureId" />

        <div class="row">
            <div class="col-md-6 mb-3">
                <label>Başlık</label>
                <input type="text" asp-for="Title" class="form-control" />
            </div>
            <div class="col-md-6 mb-3">
                <label>Sayaç / Değer</label>
                <input type="text" asp-for="Counter" class="form-control" />
            </div>
        </div>

        <div class="mb-3">
            <label>Açıklama</label>
            <textarea asp-for="Description" class="form-control" rows="3"></textarea>
        </div>

        <button class="btn btn-bagery-mint"><i class="fas fa-sync-alt"></i> Güncelle</button>
    </form>
</div>
