<footer class="main-footer" style="background-image: url(/assets/images/background/footer-1.jpeg);">
    <div class="auto-container">
        <div class="subscribe-inner clearfix">
            <div class="text pull-left">
                <h2>Bültenimize Abone Olun</h2>
            </div>
            <div class="form-inner pull-right">
                <form action="#" method="post" class="subscribe-form">
                    <div class="form-group">
                        <input type="email" name="email" placeholder="E-posta adresiniz" required="">
                        <button type="submit" class="theme-btn-one">Abone Ol</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="footer-top">
            <div class="widget-section">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget logo-widget">
                            <figure class="footer-logo"><a href="/"><img src="~/assets/images/footer-logo.png" alt=""></a></figure>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget contact-widget">
                            <div class="widget-title"><h3>İletişim</h3></div>
                            <div class="widget-content">
                                <ul class="info-list clearfix">
                                    <li>Kadıköy, İstanbul<br />Türkiye</li>
                                    <li><a href="mailto:info@bagery.com">info@bagery.com</a></li>
                                    <li><a href="tel:+902121234567">+90 212 123 45 67</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget links-widget">
                            <div class="widget-title"><h3>Hızlı Linkler</h3></div>
                            <div class="widget-content">
                                <ul class="links-list clearfix">
                                    <li><a href="/About/Index"><i class="fas fa-angle-right"></i>Hakkımızda</a></li>
                                    <li><a href="/Contact/Index"><i class="fas fa-angle-right"></i>İletişim</a></li>
                                    <li><a href="/Shop/Index"><i class="fas fa-angle-right"></i>Mağaza</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget shediul-widget">
                            <div class="widget-title"><h3>Çalışma Saatleri</h3></div>
                            <div class="widget-content">
                                <ul class="shediul-list clearfix">
                                    <li>Hafta İçi: <span>09:00 - 18:00</span></li>
                                    <li>Cumartesi: <span>10:00 - 16:00</span></li>
                                    <li>Pazar: <span>Kapalı</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="auto-container clearfix">
            <div class="copyright pull-left">
                <p><a href="/">Bagery</a> &copy; 2025 Tüm Hakları Saklıdır</p>
            </div>
        </div>
    </div>
</footer>

<button class="scroll-top scroll-to-target" data-target="html">
    <span class="icon-Arrow-Up"></span>
</button>
