@model MyAcademyCQRS.CQRSPattern.Results.ServiceResults.GetServiceByIdQueryResult
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-custom">
    <h3 class="admin-title"><i class="fas fa-edit"></i> Hizmeti Güncelle</h3>
    <form method="post">
        <input type="hidden" asp-for="ServiceId" />

        <div class="row">
            <div class="col-md-6 mb-3">
                <label>Hizmet Başlığı</label>
                <input type="text" asp-for="Title" class="form-control" />
            </div>
            <div class="col-md-6 mb-3">
                <label>İkon Sınıfı (FontAwesome)</label>
                <input type="text" asp-for="IconClass" class="form-control" />
            </div>
        </div>

        <div class="mb-3">
            <label>Açıklama</label>
            <textarea asp-for="Description" class="form-control" rows="4"></textarea>
        </div>

        <button class="btn btn-bagery-mint"><i class="fas fa-sync-alt"></i> Güncelle</button>
    </form>
</div>
