<div class="shop-sidebar default-sidebar">
    <div class="sidebar-widget sidebar-search">
        <form action="/Shop/Index" method="get" class="search-form">
            <div class="form-group">
                <input type="search" name="search" placeholder="Ara..." required="">
                <button type="submit"><i class="icon-Search"></i></button>
            </div>
        </form>
    </div>

    <div class="sidebar-widget sidebar-categories">
        <div class="widget-title">
            <h3>Kategoriler</h3>
        </div>
        <div class="widget-content">
            <ul class="categories-list clearfix">
                <li><a href="#">Kahve Çeşitleri</a></li>
                <li><a href="#">Yaş Pastalar</a></li>
                <li><a href="#">Doğum Günü Pastaları</a></li>
                <li><a href="#">Sandviçler</a></li>
                <li><a href="#">Donut & Tatlılar</a></li>
                <li><a href="#">Burgerler</a></li>
                <li><a href="#">Dondurma Çeşitleri</a></li>
            </ul>
        </div>
    </div>

    <div class="sidebar-widget price-filter">
        <div class="widget-title">
            <h3>Fiyata Göre Filtrele</h3>
        </div>
        <div class="range-slider clearfix">
            <div class="price-range-slider"></div>
            <div class="clearfix">
                <div class="pull-left">
                    <a href="#" class="filter-btn">Filtrele</a>
                </div>
                <div class="pull-right">
                    <p>Fiyat:</p>
                    <div class="title"></div>
                    <div class="input"><input type="text" class="property-amount" name="field-name" readonly=""></div>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar-widget post-widget">
        <div class="widget-title">
            <h3>Öne Çıkanlar</h3>
        </div>
        <div class="post-inner">
            <div class="post">
                <figure class="image-box"><a href="#"><img src="/assets/images/resource/shop/post-1.jpg" alt=""></a></figure>
                <h5><a href="#">Vanilyalı Dondurma</a></h5>
                <p>50.00 ₺</p>
            </div>
            <div class="post">
                <figure class="image-box"><a href="#"><img src="/assets/images/resource/shop/post-2.jpg" alt=""></a></figure>
                <h5><a href="#">Çikolatalı Donut</a></h5>
                <p>35.00 ₺</p>
            </div>
        </div>
    </div>
</div>
